* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: brown;
}
.container {
  min-height: auto;
  background-size: cover;
  background-position: center;
  padding: 15px;
}
li {
  list-style: none;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: #ffc107 !important;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
}
a {
  color: white;
  text-decoration: none;
}
.logo {
  width: 46px;
  height: auto;
}
.footer-content {
  min-height: auto;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
}

/* Main */
main {
  flex: 1; /* Tự động giãn ra lấp đầy khoảng trống */
  position: relative; /* Để map con định vị theo cái này */
  overflow: hidden; /* Ẩn thanh cuộn nếu map bị tràn */
}

#map {
  width: 100%;
  height: 450px;
  margin: 0 auto;
  border-radius: 4px;
}
