* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: brown;
  min-height: auto;
  background-size: cover;
  background-position: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
li {
  list-style: none;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 24px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.7s ease;
}
.nav-link:hover {
  color: red;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
}
a {
  color: white;
  text-decoration: none;
}
.logo {
  width: 46px;
  height: auto;
}
.footer-content {
  min-height: auto;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
}
