* {
  padding: 0;
  margin: 0;
}
body,
html {
  height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: brown;
}
.container {
  min-height: auto;
  background-size: cover;
  background-position: center;
  padding: 15px;
}
li {
  list-style: none;
}
.header .navbar {
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: #ffc107 !important;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
}
a {
  color: white;
  text-decoration: none;
}
.logo {
  width: 46px;
  height: auto;
}
.footer-content {
  min-height: auto;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
}

/* Main */
main {
  flex: 1; /* Tự động giãn ra lấp đầy khoảng trống */
  position: relative; /* Để map con định vị theo cái này */
  overflow: hidden; /* Ẩn thanh cuộn nếu map bị tràn */
}

#map {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  border-radius: 4px;
}

/* Icon */
.stat-icon {
  color: #b71c1c;
}
/* Giá trị */
/* .value-temp,
.value-wind,
.value-humidity,
.value-weather {
  color: #212529;
} */

.value-temp,
.value-appear-temp {
  color: #e65100; /* cam -> nhiệt độ */
}

.value-wind,
.value-wind-direct {
  color: #0277bd; /* xanh dương -> gió */
}

.value-humidity {
  color: #00796b; /* xanh ngọc -> độ ẩm */
}

.value-weather {
  color: #4a148c; /* tím -> mô tả thời tiết */
}
